@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  @apply outline-none ring-0 shadow-none focus:outline-none focus:ring-0 focus:shadow-none #{!important};
}

html {
  @apply bg-woodsmoke-950;
}

body {
  @apply bg-no-repeat text-woodsmoke-900 bg-white dark:text-woodsmoke-100 dark:bg-gradient-to-br dark:from-woodsmoke-950/95 dark:to-black;
  font-optical-sizing: auto;
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

a {
  @apply flex items-center gap-2 justify-between cursor-pointer transition duration-300;

  &.active {
    @apply text-black dark:text-white;

    &:hover {
      @apply text-woodsmoke-300;
    }
  }

  &.inactive {
    @apply text-woodsmoke-400 dark:text-woodsmoke-600;

    &:hover {
      @apply text-woodsmoke-300;
    }
  }
}

table,
tr,
th,
td,
line {
  @apply border-woodsmoke-800 #{!important};
  stroke: grey;
}

button[role="combobox"] {
  @apply border dark:bg-woodsmoke-900/50 dark:border-woodsmoke-900 rounded #{!important};
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.DialogContent {
  @apply w-full;
  max-width: 100%;
}

.cal-font {
  font-family: "Cal Sans", sans-serif;
}

.ping {
  animation: ping 1s infinite;
}

.user-highlight {
  @apply bg-purple-500/20 text-purple-500 rounded-md px-1;
}

@keyframes ping {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.slide-right {
  animation: slide-right 1s linear infinite;
}

.animate-wiggle {
  animation: wiggle 1500ms ease-in-out infinite;
}

.key {
  @apply dark:bg-transparent border dark:border-woodsmoke-800 dark:text-white rounded-md px-2 py-1;
}

@keyframes wiggle {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}